/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28/10/2022, 11:05:21
    Author     : kuky
*/


header {    
    background-color: #000000;    
}
#titulo{
    font: bold 12px Verdana, sans-serif;    
    background-color: #0000FF;
    color: #000000;
}

#menuS{
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: 200px;
    background-color: #0000FF;
    color: #000000;
    top: auto;
}

ul, ol {
    list-style:none;
}
			
.itemsM > li {
    float:left;
}
			
.itemsM li a {
    /*background-color:#000;*/
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;    
}
			
.itemsM li a:hover {
    background-color:#434343;
}
			
.itemsM li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
			
.itemsM li:hover > ul {
    display:block;
}
			
.itemsM li ul li {
    position:relative;
}
			
.itemsM li ul li ul {
    right:-140px;
    top:10px;
}

DIV.dir_grl_RRHH p {    
    text-align: center;
    border: solid;
   /* border:5px solid rgba(108,111,119,0.19);*/
}

/*del CARRUSEL */
#navbarSupportedContent li{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}
#navbarSupportedContent a{
    color: #FFFFFF;
    font: bold 12px Verdana, sans-serif;        
}
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 400px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 400px;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

#splash {
    padding: 5px;
    position: relative;
    background: #FFF;
    margin: 0 0 0 0;
    height: 500px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}


body {
    /*margin: 0px;
    padding: 0px;*/
    background-color: lightgray;
}



/* en desuso 
input {
    border: 2px solid #ccc;
    font-size: 18px;
    font-weight: bold;    
    padding: 6px;
}
#idsub {
    size: 100px;
    margin: 20px; 
    padding: 5px;
    font-size: 30px;
    border-right: solid 4px rgb(204, 0, 0);
    border-bottom: solid 4px rgb(204, 0, 0);
    border-left: solid 4px transparent;
    border-radius: 50px;
} */

footer {
    font-size: 18px;
    font-weight: bold;
    color: #000000;    
}


